progress {
    width: 50vw;
    height: 1em;
    transition: 0.3s;
    margin: 0px;
}
text[class='scrollableText']{
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-family: Cambria, serif;
    max-width: 99%;
}
input[type=number]{ width: 130px; }